* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #0B2434; */
  /* padding: 20px; */
  display: flex;
  align-items: center;
  vertical-align: middle;
  /* align-content: center; */
  justify-content: center;

  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

main {
  /* background-color: #F5F5F5; */
  background-color: #056824;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%232fac56' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

  /* background-color: #e5e5f7;
opacity: 0.8;
background-size: 20px 20px;
background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 1px, #e5e5f7 1px, #e5e5f7); */

  height: 40rem;
  /* max-width: 1000px; */
  width: 50rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-container {
  /* background: #F5F5F5; */
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  /* 2 rows with auto height / 5 columns with 1fr width */
  grid-template: auto auto / repeat(5, 1fr); /* 2 rows with auto height / 5 columns with 1fr width */
  gap: 2rem;
}

.die {
  width: 7rem;
  height: 7rem;
  /* background: #FFFFFF; */
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); */
  border-radius: 0.5rem;

  color: #2B283A;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  /* cursor:grab; */
  /* cursor:help; */
  cursor:pointer;
  }

.die img {
  /* height: 85%; */
  height: 90%;
  border-radius: 0.8rem;
  /* z-index: 0; */
}

.die-mask {
  background-color: red;
}

.held {
  /* background-color: #59E391; */
  /* z-index: 2; */
}  

.roll-dice {
    background: #0d9c3c;
    /* box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 0.1); */
    box-shadow: inset 1rem 1rem 2rem -1rem rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    margin: 0.5rem 0 1.25rem;
    padding: 0.75rem 1.5rem;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    /* text-align: center; */
    color: #07ef60;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }

.wiggle {
  animation: wiggle 5s linear infinite;
}  

.roll-dice:focus {
    outline: none;
    animation: wiggle 1s linear ;
}

.roll-dice:active {
    /* box-shadow: inset 1rem 1rem 2rem 1rem rgba(0, 0, 0, 0.7); */
    animation: wiggle 1s linear infinite;
}

.roll-dice-btn-img {
  /* height: 1.75rem; */
  width: 2rem;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  /* margin-top: 0; */
  margin: 1rem 1rem 0.5rem;
  text-align: center;
  max-width: 35rem;
}

main>img {
  height: 1rem;
}

.box {
  perspective: 20rem;
  /* display: flex;
  height: 100%;
  justify-content: center;
  align-items: center; */
}

.flip {
  /* width: 2em; */
  /* height: 2em; */
  /* background-color: #fc2f70; */
  transform: rotate(0);
  animation: flip 7s linear infinite;
  /* animation: flip 5s linear 1; */
  /* animation-iteration-count: infinite; */
}

@keyframes flip {
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(180deg) rotateX(180deg);
  }
}


/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}