* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  /* align-content: center; */
  justify-content: center;
}

main {
  background-color: #F5F5F5;
  height: 450px;
  max-width: 800px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice-container {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
  /* 2 rows with auto height / 5 columns with 1fr width */
  grid-template: auto auto / repeat(5, 1fr); /* 2 rows with auto height / 5 columns with 1fr width */
  gap: 20px;
}

.die {
  width: 70px;
  height: 70px;
  /* background: #FFFFFF; */
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15); */
  border-radius: 10px;

  color: #2B283A;

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20.5889px;
  line-height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* cursor:grab; */
  /* cursor:help; */
  cursor:pointer;
  }

.die img {
  height: 90%;
  border-radius: 10px;
}

.held {
  background-color: #59E391;
}  

.roll-dice {
    background: #5035FF;
    box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;
    padding: 0.75rem 2rem;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16.384px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  /* margin-top: 0; */
  margin: 15px 50px 10px;
  text-align: center;
  max-width: 350px;
}